<div class="bg-canvas" aria-hidden="true">
  <span class="trail trail-1"></span>
  <span class="trail trail-2"></span>
  <span class="trail trail-3"></span>
  <span class="orb orb-1"></span>
  <span class="orb orb-2"></span>
  <span class="orb orb-3"></span>
  <span class="orb orb-4"></span>
  <span class="orb orb-5"></span>
  <span class="orb orb-6"></span>
</div>
